<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">

</head>

<body>

<%- include('../includes/navigation.ejs') %>

<main>

    <form class="login-form" action="/login" method="POST"> 
        <div class="title-box">
            <h3>Log in</h3>
        </div>
        
        <% if(errorMessage.hasOwnProperty('errorLogin')){ %> 
            <div class="user-message user-message--error">
                Error: <%= errorMessage.errorLogin %>
            </div>
        <% } %>  

        <div class="form-control">
            <label for="email">Email</label>

            <% if(errorMessage.hasOwnProperty('email')){ %> 
                <div class="user-message user-message--error">
                    Error: <%= errorMessage.email %>
                </div>
            <% } %>   
            
            <input type="email" name="email"  placeholder="Write the email" id="email" value="<%= oldInput? userData.email : ''  %>">
        </div>
        <div class="form-control">
            <label for="password">Password</label> 
            <% if(errorMessage.hasOwnProperty('password')){ %> 
                <div class="user-message user-message--error">
                    Error: <%= errorMessage.password %>
                </div>
            <% } %>   

            <input type="password" name="password"  placeholder="Write the password" id="password" value="<%= oldInput? userData.password : ''  %>">
        </div>
        
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn" type="submit">Log in</button>
    </form> 
    <div class="title-box">
        <a href="/reset-password">Forgot your password?</a>
    </div>


</main>

<%- include('../includes/end.ejs') %>